<form ng-submit="pasto.makePaste()">
    <input class="headorino" ng-model="pasto.header" placeholder="Name your paste here!" type="text"/>
    <textarea class="pastorino" ng-model="pasto.body" placeholder="Paste it here!"></textarea>
    <input type="submit" class="button expand submitorino" value="PASTE IT YO!"/>
</form>