<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Pezto</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a ui-sref="application.pasto">
                <i class="fa fa-plus"></i>
            </a></li>
            <li>
                <a href="" ng-click="topbar.showView()">
                    <i class="fa fa-terminal"></i>
                </a>
                <form class="setview" ng-class="{'open': topbar.view}" ng-submit="topbar.setView()">
                    <input ng-model="topbar.id" type="text"/>
                </form>
            </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
        </ul>
    </section>
</nav>